<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="ConnectionToSql" connectionString="Data Source=LAPTOP-FQENG2D7\SQLEXPRESS;Initial Catalog=Guarderia; Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
      <!--<add name="ConnectionToSql" connectionString="Data Source=DESKTOP-98FMFRI\SQLEXPRESS;Initial Catalog=Guarderia; Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>